version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: health_scheduler_db
    environment:
      POSTGRES_USER: health_user
      POSTGRES_PASSWORD: health_password
      POSTGRES_DB: health_scheduler
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  postgres_data:

